.terms-container {
    max-width: 800px;
    margin: 40px auto 0;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .terms-title {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
  }
  
  .terms-section {
    margin-bottom: 20px;
   
  }
  
  .terms-section-title {
  
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .terms-text {
    text-align: start;
    line-height: 1.6;
    font-size: 1rem;
  }
  