@import "../Mixin.scss";

.privacy-policy-container {
  max-width: 1200px;
  margin: 80px auto ;
  padding: 20px;
  font-family: Arial, sans-serif;
  
.privacy-policy-title {

  h1{
  text-align: center;
  color: #007bff;
  line-height: 0;
  font-size: 35px;

   @include max768{
    font-size: 25px;
  }
  @include max400{
    font-size: 20px;  
  }
  }
 
  p{
    text-align: center;
    font-size: 13px;
    margin-bottom: 20px;

      @include max768{
    font-size: 12px;
  }
  @include max400{
    font-size: 10px;  
  }
  }

}

.privacy-section {
  margin-bottom: 20px;
  text-align: start;


.privacy-section-title {
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.privacy-text {
  line-height: 1.6;
}

.privacy-list {
  text-align: start;
  list-style-type: disc;
  background-color: rgba(128, 128, 128, 0); 

  li{
    padding: 5px;
    color: black;
  }
}
}

}